td {
    padding-bottom: 5px;
    text-align:left;
}

html,body {
    height: 100%;
}

/* 見出し */
/* h1 ページタイトルのみ */
header > h1 {
  flex: 1 1 auto;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
}
h1 {
  flex: 1 1 auto;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 32px 0 14px;
  background-color: #008F00;
  color: #ffffff;
}
/* h2 通常項目見出し */
h2 {
  margin: 20px 0;
  font-size: 24px;
  color: #8a92a8;
}

h3 {
  margin: 10px 0;
  font-size: 16px;
  color: #8a92a8;
}

/* セクション */
section {
  clear: both;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
section + section {
  border-top: 0 none;
}
section .sizeCaption {
  margin: 0 16px;
}

/* リスト */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 32px 0 14px;
  background-color: #008F00;
  color: #ffffff;
  font-size: 16px;
}
header > * {
  flex: 0 0 auto;
  padding: 0 8px;
}
header > *:first-child {
  padding-left: 16px;
}
header > *:last-child {
  padding-right: 16px;
}
header > a {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#reloadIcon,
#menuIcon {
  width: 32px;
  height: 32px;
}

/* カロリースマイル用 */
.meal-section {
  padding: 0 16px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.meal-section + .meal-section {
  border-top: 12px solid #ededed;
}
.meal-section + .meal-section::before {
  content: "";
  display: block;
  height: 1px;
  margin: 0 -16px;
  background-color: #d4d4d4;
}
.daily-meal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: 8px;
}
.meal {
  flex: 0 0 auto;
  width: 104px;
  margin-left: 8px;
  margin-bottom: 8px;
}
.picture img {
  width: 104px;
}
.time,
.comment {
  color: #a2a2a2;
}
.time::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("../image/parts_ico_time.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}


.main_box {
    height: 100%;
    background-color: whitesmoke;
}

.service-logoback {
    background-color: #f39700;
    height: 25%;
    line-height:25%; /* heightと同じ値 */
    text-align:center;
    vertical-align:middle;
}

.service-logo {
    position: relative;
    width: auto;
    height: 80%;
    top: 50%;
    vertical-align:middle;
    transform: translateY(-50%);
}

.info {
    margin-top: 40px;
    margin-bottom: 30px;
}

.form-control{
    width: 80%;
    height: 50px;
    border-radius: 40px;
    color: #333333 !important;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    outline: none;
    /*-webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;*/
}

.login_btn{
    background-color:#4d6ce9;
    border: 1px solid rgba(255, 255, 255, 100);
    border-radius: 40px;
    margin: 40px;
    padding: 5px;
    width: 80%;
    outline: none;
    font-size: 16px;
    font-weight: inherit;
    color : #FFF;
}

.widthImg {
    width:40%;
}

.widthComm {
    width:40%;
}

.imgContain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.heightTd {
    height:100px;
}

.glyphiconStyle {
    font-size: 32px;
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
    cursor : pointer;
}

.spinIcon {
    pointer-events : none;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.overlay {
    position: fixed;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    top: 0px;
    display: block;
    visibility: visible;
    z-index: -1;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.overlay-on {
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.slide-menu {
    position: fixed;
    background: #ffffff;
    width: 70%;
    height: 100%;
    left: 100%;
    top: 0px;
    z-index: 2;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.slide-on {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.menu-title {
    height: 100%;
    display: block;
    overflow: auto;
}

.menu-title li {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
    border-collapse: collapse;
    color: #333333;
    vertical-align: middle;
}

.allToggle {
    display:block;
    width:100%;
    height:100%;
}

.photoTable {
    width:500px;
    margin-top:20px;
    table-layout: fixed;
}

@media (max-width: 767px) {
    .photoTable {
        width: 100%;
    }
}

#profile table th,
.personalInfo table th {
	text-align: right;
}

.tbl_news,
.tbl_prof,
.tbl_prof_photo,
.personalInfo table,
#opHistory table,
#helperOpHistory table,
#consentHistory table,
#viewHistory table,
#viewInforDisclosureHistory1 table,
#viewInforDisclosureHistory2 table {
	width: 100%;
}
.personalInfo table td img {
	width: 128px;
	height: 128px;
	vertical-align: middle;
}

#opHistory img,
#helperOpHistory img,
#viewHistory img{
	width: 48px;
	height: 48px;
	float: left;
}

#viewInforDisclosureHistory1 img,
#viewInforDisclosureHistory2 img {
   	margin-bottom: 5px;
	width: 48px;
	height: 48px;
}

#consentHistory img {
	width: 48px;
	height: 48px;
}

.yourNews,
#opHistory table tr th,
#opHistory table tr td,
#helperOpHistory table tr th,
#helperOpHistory table tr td,
#consentHistory table tr th,
#consentHistory table tr td,
#viewHistory table tr th,
#viewHistory table tr td{
    padding: 5px 10px;
    border: 1px solid #DDD;
    vertical-align: middle;
}

.tbl_news {
  border-collapse:collapse;
}
.tbl_news tr td{
  background-color: #e8ffc4;
  border: 2px #99cc99 solid;
  vertical-align: top;
  padding: 0px;
}

.yourNews .img{
  height: 300px;
  width: 300px;
  margin-bottom: -5px;
  vertical-align: bottom;
}

.cover {
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 300px;
    border: 0px solid #ccc;
    background-size: cover;
    vertical-align: bottom;
}

.yourNews .description{
  padding: 5px;
  height: 0px;
}

.stealth_table {
  width: 100%;
  height: 100%;
}

.stealth_table tr td{
  width: 100%;
}

.stealth_table tr td {
  border: none;
  vertical-align: middle;
}


.stealth_table .date {
  height: 20%;
  color: #777777;
  font-size: 14px;
}

.stealth_table .date td{
  text-align: right;
}

.stealth_table .title {
  height: 60%;
  vertical-align: middle;
  font-size: 20px;
}

.stealth_table .title td{
  text-align: center;
}

.stealth_table .article {
  height: 20%;
  color: #777777;
  font-size: 16px;
}

.stealth_table .article td {

}

.boradttitle img,
button.close img {
	width: 32px;
	height: 32px;
}

header h1 {
	font-size: 16px;
}

header .helperMsg {
	font-size: 12px;
}


.rdobtn input {
	display: none;
}
.rdobtn label{
	display: block;
	float: left;
	cursor: pointer;
	width: 40%;
	margin: 0;
	padding: 10px;
	background: lightgray;
	color: white;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.rdobtndb label{
	width: 50%;
}
.rdobtn label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.rdobtn label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.rdobtn input[type="radio"]:checked + .onbtn,
.rdobtn input[type="radio"]:checked + .offbtn {
	background-color: deepskyblue;
	color: white;
}

.img_idh_psn{
    position: fixed;
    right: 2.3em;
    width: 30px!important;
    height: 30px!important;
    margin-top: -10px;
}

.img_idh_db{
    position: fixed;
    right: .3em;
    width: 30px!important;
    height: 30px!important;
    margin-top: -10px;
}

.data_portability_btn{
    background: royalblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: large;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.img_qrcode{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px!important;
    height: 180px!important;
}

.main_box_center{
    text-align: center;
}

.li_date{
    text-align:  center;
    margin-bottom: 5px;
    line-height: 1;
}

.kaiji_btn{
    background: deepskyblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.fnt_icon{
    color:white;
	font-size:24px
}

table.tbl_prof_photo tr td,
table.tbl_prof tr td{
	width:70%;
}

table.tbl_prof_photo img{
	width:64px;
	height:64px;
}

.cls_center{
	text-align: center!important;
}

.cls_right{
	text-align: right!important;
}

.cls_left{
	text-align: left!important;
}

.tbl_infor_disc tr td,
.tbl_infor_disc2 tr td{
	border: none;
	vertical-align: middle;
}

.tbl_infor_disc2 .tr_hum_list td{
	padding: 0;
	width:25%;
}

.tr_infor_disc_top{
	border-top:1px solid #DDD;
}

.tr_infor_disc_bottom{
	border-bottom:1px solid #DDD;
}

.td_infor_disc_icon{
	border-top:1px solid #DDD;
	padding-left: 3px!important;
	padding-right: 3px!important;
}

.td_infor_disc_lbl{
	padding: 0px!important;
}
.td_infor_disc_date{
    padding-right: 8px!important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    text-align: right!important;
}
.i_data_exp{
	font-size:100px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.img_nfc{
	width: 229px;
	height: 149px;
}

.btn_close{
	float:left;
	position:absolute;
	margin-top: -5px;
}

.personalInfo img{
	width:70px!important;
	height:70px!important;
}

.p_modal_title{
	text-align: center;
	margin: 0;
}

.infor_disc_person_list_top{
	border-bottom: 1px solid #e5e5e5;
}
.infor_disc_person_list{
	padding-bottom: 5px;
	padding-top: 5px;
}

.td_rdo_sp{
	width: 20%;
}

.tbl_rdo{
	margin-top: 10px;
}

.td_rdo_lbl{
	text-align: right;
	width: 40%;
}

.rdobtn_per{
	padding-left: 10px;
}

.btn-group button {
  font-size: 20px;
}
